.card__wrapper {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	transform-style: preserve-3d;
	perspective: 70rem;
	&:hover .card__box {
		transform: rotateY(25deg);
	}

	& .card__box:hover {
		transform: rotateY(0deg) scale(1.2);
		box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
		z-index: 1;

		& ~ .card__box {
			transform: rotateY(-25deg);
		}
	}
}
.card__box {
	position: relative;
	border-radius: 5%;
	width: 24%;
	background-color: $dark-color-;
	transition: 0.3s;
	transform-style: preserve-3d;
	cursor: pointer;
	overflow: hidden;
	& h2 {
		font-size: FS(sm);
		display: inline-block;
	}
	& > img {
		padding: 1rem;
		border-radius: 8%;
		display: inline-block;
		width: fit-content;
	}
	&-like {
		position: absolute;
		top: 0%;
		left: 73%;
		font-size: FS(xsm);
		color: $light-color;
		background-color: $dark-color-;
		border-radius: 0.8rem;
		padding: 0.2rem 0.5rem;
		margin-top: 2rem;
		& i {
			font-size: FS(xsm);
		}
	}
	&:hover .card__pbid {
		visibility: visible;
		transition: all 0.3s ease-in-out;
		
	}

}
.card__time {
	@include flex-between(row);
	position: absolute;
	top: 23rem;
	left: 30%;
	width: fit-content;
	padding: 0.3rem 0;
	font-size: FS(xsm);
	color: $light-color;
	background-color: $dark-color---;
	border-radius: 0.8rem;
	justify-content: start;
	gap: 0;
	& h4 {
		padding: 0;
	}
	& img {
		width: 12%;
		margin: 0 1rem;
	}
}
.card__pbid {
	visibility: hidden;
	position: absolute;
	top: 11rem;
	left: 8rem;
	border-radius: 100px/100px;
	margin: 1rem;
	border: none;
	color: $dark-color--;
	background-color: $light-color;
	padding: 1rem 1.5rem;
	font-size: FS(sm);
	font-weight: FW(bold);
	transition: all 0.3s ease-in-out;

	& i {
		color: $secondary-color;
	}
	
}

.card__content {
	position: relative;
	display: flex;
	width: 100%;
	flex-direction: column;
	box-sizing: border-box;
	z-index: 1;
	padding: 0 1rem 1.5rem 1rem;
	font-size: FS(xsm);
}

.card__col-list {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.card__row-list {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 1rem;
}

.card__bsc {
	color: $light-color;
	padding: 0.3rem 1rem;
	background-color: $secondary-color;
	border-radius: 100px/100px;
	font-size: FS(xxsm);
}

.card__creator--img {
	width: 20%;
	border-radius: 20%;
}
.card__dark {
	color: $dark-color;
	font-family: $font-family-gilroy;
	font-size: FS(sm);
}
.card__name {
	font-size: FS(xsm);
}
.create__row {
	padding: 2rem 0;
}
