@mixin applyThemes() {
  @each $theme, $arr in $themes {
    .theme-#{$theme} & {
      $theme_name: $theme !global;
      @content;
    }
  }
}

@function tm($key) {
  @return map-get(map-get($themes, $theme_name), $key);
}

$themes: (
  light: (
    background_main: $light-color,
    background_secondary: #EFFFFF,

    font_main: #000,
    font_header_big: #000,
    font_header_small: #000,

    link: #527436,

    button_main_background: #FFF,
    button_main_border: #214040,
    button_main_font: #214040,

    button_hover_background: #FFF,
    button_hover_border: #033030,
    button_hover_font: #033030
  ),
  dark: (
    background_main: #111,
    background_secondary: #222,

    font_main: #AAA,
    font_header_big: #AAA,
    font_header_small: #AAA,

    link: #AAA,

    button_main_background: #333,
    button_main_border: #AAA,
    button_main_font: #AAA,

    button_hover_background: #444,
    button_hover_border: #BBB,
    button_hover_font: #BBB
  ),
  weird: (
    background_main: #58374a,
    background_secondary: #684158,

    font_main: #8581bb,
    font_header_big: #8581bb,
    font_header_small: #8581bb,

    link: #8581bb,

    button_main_background: #8b4c71,
    button_main_border: #8581bb,
    button_main_font: #8581bb,

    button_hover_background: #a36087,
    button_hover_border: #9f9bdb,
    button_hover_font: #9f9bdb
  )
);

body, header, footer {
  @include applyThemes() {
    background-color: tm(background_secondary);
  }
}

content {
  @include applyThemes() {
    background-color: tm(background_main);
  }

  .text-block, .sidebar-right__news {
    @include applyThemes() {
      background-color: tm(background_secondary);
    }
  }
}

div, p {
  @include applyThemes() {
    color: tm(font_main);
  }
}

h1 {
  @include applyThemes() {
    color: tm(font_header_big);
  }
}

h2, h3 {
  @include applyThemes() {
    color: tm(font_header_small);
  }
}

a {
  @include applyThemes() {
    color: tm(link);
  }
}

button {
  @include applyThemes() {
    background-color: tm(button_main_background);
    border-color: tm(button_main_border);
    color: tm(button_main_font);
  }
}

button:hover {
  @include applyThemes() {
    background-color: tm(button_hover_background);
    border-color: tm(button_hover_border);
    color: tm(button_hover_font);
  }
}