.today__btnlist {
	justify-content: space-between;
	padding: 2rem 0;
	
}
.btn-today{
   font-size: FS(sm);
}
.todaybid__btn {
	padding: 1rem 1.5rem;
font-size: FS(sm);
	margin: 0;

	& i {
		padding: 0rem 0rem;
		color: $dark-color;
	}
}
.today__footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0 0 0;
	font-size: FS(xxsm);
	font-size: x-small;
}
