@import 'variables';
@import 'anim';
@import 'layout';
@import 'card';
@import 'footer';

body {
	background: $dark-color---;
	background-image: url(./img/itemdetail/bg.png);
}
header {
	top: 0;
	width: 100%;
	height: 9vh;
	z-index: 9999;
	position: absolute;
	padding: 0rem 0;
	border-bottom: 1px solid $light-color--;
	font-size: FS(md);
}
.bg__img img {
	top: 0;
}
.nav {
	position: relative;
	font-family: $font-family-poppins;
	&__wrapper {
		@include flex-between(row);
		margin-top: 1rem;
		& a {
			text-decoration: none;
		}
	}
	&__right {
		@include flex-between(row);
		& > * {
			margin: 0 0.5rem;
		}

		& img {
			width: 4rem;
			border-radius: 1rem;
		}
		&--notif {
			display: inline-block;
			text-align: center;
			vertical-align: middle;
			position: relative;
			cursor: pointer;
			&:hover {
				animation: shake 1s ease-in-out;
			}
			&::after {
				content: attr(data-badge);
				position: absolute;
				width: 1.3rem;
				height: 1.3rem;
				top: -0.8rem;
				right: -0.3rem;
				font-size: 0.8rem;
				background: red;
				color: white;
				border-radius: 50%;
				text-align: center;
				line-height: 1.3rem;
				font-weight: bold;
				opacity: 1;
				transform: translateY(3px);
			}
			&:hover::after {
				opacity: 1;
				transform: translateY(0);
				transition: opacity 0.25s, transform 0.25s;
			}
			// & [data-badge] {
			//     position:relative;
			//     &:after {
			//       content:attr(data-badge);
			//       position:absolute;
			//       right:-5px;
			//       top:-10px;
			//       min-width:10px;
			//       min-height:10px;
			//       line-height:10px;
			//       padding:3px;
			//       color:#fff;
			//       background-color:red;
			//       font-size:10px;
			//       border-radius:10px;

			//       border:solid 1px red;
			//     }
			//   }
			&-num {
				font-size: FS(sm);
				background-color: red;
				padding: 1rem;
				border-radius: 50%;
			}
		}
	}
	&__menu {
		@include flex-between(row);
		&-item {
			padding: 0 2rem;
			font-weight: FW(bold);

			&:hover .nav__arrow {
				transform: rotate(225deg);
			}
		}
	}
	&__brand {
		@include flex-between(row);

		& img {
			display: inline-block;
			height: 4rem;
			width: auto;
		}
		& h2 {
			display: inline-block;
			align-items: baseline;
			font-family: $font-family-gilroy;
			font-size: FS(lgx);
			font-weight: FW(bold);
		}
	}
	&__arrow {
		position: absolute;
		width: 0.7rem;
		height: 0.7rem;
		top: 35%;
		right: -1.5rem;
		border: 2px solid snow;
		border-width: 0 2px 2px 0;
		transform: rotate(45deg);
		transition: all 0.3s ease;
	}
	&__breadcrumb {
		position: relative;
		display: block;
		text-align: center;
		padding: 2rem 0;
		& a {
			color: $dark-color;
		}
		& h1 {
			padding: 2rem 0;
			font-size: FS(lgxx);
		}
		& h3 {
			display: inline;
			font-family: $font-family-montserrat;
			font-size: FS(sm);
			font-weight: FW(bold);
			color: $dark-color;
			& span {
				color: $light-color;
			}
		}
	}

	&__dropdown {
		position: relative;
		display: inline-block;

		/* Dropdown Content (Hidden by Default) */
		&-content {
			display: none;
			position: absolute;
			background-color: $light-color-;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
			z-index: 1;

			/* Links inside the dropdown */
			& a {
				color: $dark-color--;
				padding: 12px 16px;
				text-decoration: none;
				display: block;
			}

			/* Change color of dropdown links on hover */
			& a:hover {
				background-color: $primary-color;

				color: $light-color-;
				&::before {
					content: '- ';
				}
			}
		}

		&:hover &-content {
			display: block;
		}
	}
	&__search-form-container {
		@include flex-between(row);
		justify-content: space-evenly;
		padding: 0.5rem 2rem;
		height: 2.7rem;
		background-color: $light-color-;
		border-radius: 5rem;
		position: fixed;
		top: 6rem;
		z-index: 999;
		opacity: 0;
		transform: scale(0);
		transition: opacity 0.5s;
		left: 65%;
		&.activated {
			opacity: 1;
			transform: scale(1);
		}
	}

	&__form {
		display: flex;
		justify-content: flex-start;
		color: $light-color;
		margin-top: 2rem;
		&-note {
			font-size: FS(xsm);
			text-align: right;
			padding-top: 1rem;
		}
		&-btn {
			display: inline-block;
			padding: 0.4rem 0 0;
			margin-top: -0.5rem;
			font-size: FS(xsm);
			border-left: none;
			color: $dark-color;
			width: 4rem;
		}

		&-close-btn {
			position: absolute;
			color: $dark-color;
			width: 4rem;
			height: 4rem;
			top: -0.3rem;
			right: 0.3rem;
		}

		&-container-inner {
			display: flex;
			flex-direction: column;
		}
		& i{
          top: -.1rem;
		}
	}
	&__sun i:hover {
		animation: bounce-in 3s linear 0s 1 infinite;
	}
}

main {
	position: relative;
}
input {
	border: 1px solid $dark-color-;
	width: 38rem;
	line-height: 3.2rem;
	border-radius: 0.7rem;
	margin: 1rem 0;
	padding: 0 1rem;
}
label {
	display: block;
	margin-top: 1rem;
}
.btn-secondary {
	box-shadow: inset 0 0 0 2px $light-color-;
	width: 90%;
	padding: 1rem 0;
	color: $light-color;
	&:hover {
		background-color: $light-color-;
		color: $dark-color;
		box-shadow: none;
	}
}
.btn-primary {
	background-color: $secondary-color;
	color: $light-color;
	padding: 0.5rem 3rem;
}
i.ri-close-line {
	margin: auto;
}
.moon-icon {
	display: none;
}
.light-theme {
	.sun-icon {
		display: none;
	}
	.moon-icon {
		display: block;
	}
}

.prhero {
	@include flex-between(row);
	padding: 5rem 0;
	&__left {
		@include flex-between(column);
		width: 25%;
		background-color: $dark-color-;
		padding: 1rem;
		border-radius: 1rem;
		& img {
			width: 100%;
			height: auto;
			border-radius: 1rem;
		}
		& button {
			margin-top: 1rem;
		}
	}
	&__right {
		width: 70%;
		&--coverimage {
			@include flex-between(row);
			margin: 2rem auto;
			// border-image: linear-gradient(360deg, #ff512f, #dd2476, #1c64ff) 1;
			// animation: br-rotate 2.5s ease-in infinite;
			& img {
				width: 32%;
				height: 10rem;
				border: 3px solid $secondary-color;
				border-radius: 1rem;
			}
			&-upbutton {
				width: 32%;
				height: 10rem;
				border: 1px solid $dark-color;
				padding: 3rem;
				border-radius: 1rem;
				text-align: center;
			}
		}
		&--form {
			@include flex-between(row);
			padding: 1rem 0;
			
		}
		&--social {
		

			& button {
				line-height:1.5rem;
				font-size: FS(xsm);
				& i {
					
					padding-right: 1rem;
					
				}
			}
		}
	}
}
.footer__news--form i{
	top: .9rem;
}
textarea {
	resize: none;
	background-color: $dark-color---;
	border: 1px solid $dark-color-;
	width: 38rem;
	
	border-radius: 0.7rem;
	margin: 1rem 0;
	padding: 0 1rem;
  }
