#footer {
	padding-top: 2rem;
	position: relative;
}
.loadmore {
	margin: auto;
}
.footer a {
	color: var(--light-color);
	padding: 0.5rem 0;
}

.footer h1 {
	color: var(--light-color);
}
.footer__wrapper {
	padding: 6rem 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}

.footer__wrapper h2 {
	font-size: 2.2rem;
	padding: 2rem 0;
	color: var(--light-color);
}
.footer__address {
	padding-top: 7rem;
	width: 20%;
}

.footer__address img {
	width: 20%;
	display: inline-block;
}
.footer__address h2 {
	font-size: 6rem;
	color: var(--light-color);
	display: inline;
}
.footer__address span {
	color: var(--light-color);
}
.footer__address span b {
	font-size: var(--font-size-xl);
	color: var(--light-color);
	display: table-caption;
}

.footer__address p {
	font-size: 1rem;
	color: var(--light-color);
}
.footer__link {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.footer__link a {
	font-size: 1.7rem;
	font-weight: 100;
	color: var(--light-color);
	text-decoration: none;
}

.footer:hover a {
	text-underline-offset: 0.7rem;
	text-decoration: none;
}

.footer__news p {
	font-size: 1rem;
	color: var(--light-color);
	font-weight: 700px;
}
.footer__news--form {
	width: 30rem;
	padding: 1rem 0;
	position: relative;
	color: var(--dark-color);
}
.footer__news input {
	/* margin: 1px;*/
	padding: 1rem;
	width: 100%;
	outline: none;
	height: 4.5rem;
	border: 0.1rem solid var(--dark-color);
	border-radius: 2rem;
	font-size: 1.5rem;
	color: #eee;
}

.footer__news input::placeholder {
	color: var(--light-color--);
}
.footer__news button {
	position: absolute;
	border-radius: 5px;
	right: 0.2rem;
	z-index: 2;
	border: none;
	top: 1rem;
	height: 1rem;
	transform: translateX(2px);
}

.footer__news i {
	color: var(--light-color);
	margin: 2rem 0.5rem;
	border-radius: 50%;
	cursor: pointer;
}

.footer__news i:hover {
	color1: var(--secondary-color);
	transition: all 0.3s linear;
	font-style: oblique;
	text-decoration: underline solid 2px var(--secondary-color);
	text-underline-offset: 0.3rem;
	animation: shake-vertical 1s ease 0s 1 normal none;
}

.footer__news--icon {
	text-align: center;
}

#copyright {
	width: fit-content;
	margin: auto;
	padding: 0.4rem;
	font-weight: bold;
	color: var(--light-color);
	background: -webkit-linear-gradient(#333, #eee);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#copyright span {
	font-style: italic;
}
