.header {
	border-bottom: 1px solid var(--dark-color);
	background: var(--dark-bg-color-);
	position1: fixed;
}
.navbar {
	padding-top: 1rem;
	padding-bottom: 1rem;
	position1: absolute;
	font-size: var(--font-size-sm);
	font-weight: --font-weight-bold;
	color: var(--light-color);
	z-index: 999;
	justify-content: space-around;
}
.nav__logo img {
	display: inline-block;
}
.nav__logo h2 {
	display: inline-block;
	align-items: baseline;
	font-size: var(--font-size-xl);
	font-weight: var(--font-weight-bold);
}
.nav__logo a{
	text-decoration: none;
	margin-top: 15rem;
}
.nav__link {
	margin-right: -0.3rem;
}
.nav__icon {
	font-size: var(--font-size-sm);
	padding-right: 1rem;
}

.nav__sun i:hover {
	transition: all 0.3s ease-in;
	transform: scale(1.3);
}
.nav__right {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.nav__wallet {
	margin: 0;
}

.navbarLink {
	padding-inline-start: 0px;
}

.nav-button {
	background-color: blueviolet;
	color: white;
	border: none;
	border-radius: 5px;
	width: 150px;
	height: 40px;
}
.moon-icon {
	display: none;
}

.light-theme .sun-icon {
	display: none;
}
.light-theme .moon-icon {
	display: block;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--light-color-);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: var(--dark-color--);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: var(--primary-color);

	color: var(--light-color-);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color1: #3e8e41;
}

.search-form-container {
	width: 30%;
	margin: auto;
	max-width: 50%;
	height: 5vh;
	background-color: var(--light-color-);
	border-radius: 5rem;
	position: fixed;
	display: flex;
	top: 8.5rem;
	left: 50%;
	z-index: 999;
	opacity: 0;
	transform: scale(0);
	transition: opacity 0.5s;
}
.form-container-inner {
	margin: auto;
	display: flex;
	flex-direction: column;
	gap1: var(--gap);
	text-align: center;
	justify-content1: flex-start;
}
.form {
	display: flex;
	justify-content: center;
	color: var(--light-color);
}
.form-input1,
.form-btn {
	display: inline-block;
	border1: 2px solid var(--dark-color--);
	padding: 0.5rem 0 0;
	margin-top: -0.1rem;
	font-size: var(--font-size-xxsm);
}
.form-input1 {
	border-right: none;
	width: 100%;
}
.form-btn {
	margin-left1: -0.5rem;

	border-left: none;
	background-color: var(--dark-color);
	width: 4rem;
}
.form-note {
	font-size: var(--font-size-xsm);
	align-self: flex-end;
}
.form-close-btn {
	position: absolute;
	color: var(--dark-color);
	width: 4rem;
	height: 4rem;
	top1: 1.5rem;
	right: 0.5rem;
	border1: 2px solid var(--dark-color---);
}
i.ri-close-line {
	margin: auto;
}
.search-form-container.activated {
	opacity: 1;
	transform: scale(1);
}
