.hero {
	top:0rem;
	height: 60rem;
	position: relative;
}
.hero__wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.hero__left {
	display: inline-block;
	
}
.hero__left h1 {
	position: relative;
	color: var(--light-color);
	font-size: 6rem;
}
.hero__left h2 {
	position: relative;
	color: var(--light-color);
	font-size: 5rem;
}
.hero__left p {
	margin-top: -2rem;
	padding:4rem 0;
}
.hero__left span {
	font-family: 'ntfs';
	font-size: 5rem;
}
.hero__left--explorer {
	color: var(--light-color);
}
.hero__left--explorer i {
	color: var(--light-color);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	display: inline-block;
}
.middle {
	left: 70rem;
}

.hero__right img {
	position: relative;
	z-index: 9;
}

.hero__right--blob {
	position: absolute;
	margin-top: -15rem;
	z-index: 2;
	top: 25rem;
	left: 55%;
	width: 40%;
}
.hero__right--spaceman {
	width: 85%;
	margin-top: -10rem;
}
.hero__circle--fill {
	position: relative;
	border-radius: 50%;
	background: var(--light-bg-gradient-color);
}
.p1{
	top: 10rem;
	left: 50%;
}
.p2{
	top: 0rem;
	margin-top: -5rem;
	left: 50%;
}
.p3{
	top:30rem;
	left: -5rem;
}
.p4{
	top: 10rem;
	left: 10%;
}
.p5{
	top: 5rem;
  left: 85%;
}
.p6{
	top: 40rem;
	left: 80%;
}
.p7{
	top: 5rem;
	left: 85%;
}
.hero__circle--outline {
	position: absolute;
	border-radius: 50%;
	border: 2px solid var(--primary-color--);
	
	background1: var(--light-bg-gradient-color);
}
.size-1 {
	width: 1rem;
	height: 1rem;
}
.size-2 {
	width: 2rem;
	height: 2rem;
}
.size-3 {
	width: 3rem;
	height: 3rem;
}

.size-4 {
	width: 4rem;
	height: 4rem;
}

.strokeme {
	font-size: 5rem;
	color: transparent;
	text-shadow: 1px 1px 0 rgb(173, 4, 173), 1px -1px 0 rgb(58, 38, 243), -1px 1px 0 #000,
		1px 1px 0 #000;
}

.hero__sell {
	
	width: 50rem;
}

.hero__monster {

}
.self {
	color: #14141f;
	background: linear-gradient(-45deg, #e250e5, #4b50e6, #e250e5, #4b50e6);
	background-size: 100% 100%;
	-webkit-background-clip: text;
	-webkit-text-stroke: 3px transparent;
}
