@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

font-face {
	font-family: 'fabrand';
	src: url('./../font/fa-brands-400.eot');
	src: url('./../font/fa-brands-400﹖.eot') format('embedded-opentype'),
		url('./../font/fa-brands-400.woff2') format('woff2'),
		url('./../font/fa-brands-400.woff') format('woff'),
		url('./../font/fa-brands-400.ttf') format('truetype'),
		/* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('./../font/fa-brands-400.svg')
			format('svg'); /* iOS 4.1- */
	font-display: swap;
}

font-face {
	font-family: 'faduotone';
	src: url('./../font/fa-duotone-900.eot'); /* IE9*/
	src: url('./../font/fa-duotone-900﹖.eot') format('embedded-opentype'),
		/* IE6-IE8 */ url('./../font/fa-duotone-900.woff2') format('woff2'),
		url('./../font/fa-duotone-900.woff') format('woff'),
		url('./../font/fa-duotone-900.ttf') format('truetype'),
		/* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('./../font/fa-duotone-900.svg')
			format('svg'); /* iOS 4.1- */
	font-display: swap;
}

font-face {
	font-family: 'ntfs';
	src: url('./../font/nfts.eot'); /* IE9*/
	src: url('./../font/nfts.woff') format('woff'), url('./../font/nfts.ttf') format('truetype'),
		/* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('./../font/nfts.svg') format('svg'); /* iOS 4.1- */
	font-display: swap;
}

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

:root {
	/* CSS HEX */
	--light-color: #fff;
	--light-color-: #afafbf;
	--light-color--: #afb6cd;
	--light-color---: #5a6981ff;
	--light-color----: #565b63;

	--dark-color: #343441ff;
	--dark-color-: #1b1b2b;
	--dark-color--: #10101d;

	--primary-color: #a977c6ff;
	--primary-color-: #a448cd;
	--primary-color--: #8419a5;
	--primary-color---: #350b41;
	--primary-color----: #221738;

	--secondary-color: #5142fc;
	--secondary-color-: #262165;
	--secondary-color--: #1f1736;

	--light-color: #fff;
	--light-color-: #f8f8f8;
	--light-color--: #f8f8f8;

	--dark-color: #7a798a;
	--dark-color-: #343441ff;
	--dark-color--: #1f1f2c;
	--dark-color---: #14141f;


	

	--sefia-color: #d3bb9cff;
	--sefia-color-: #9d8062ff;
	--sepia-color--: #7b4e1dff;
	
	--hover-light-color: var(--secondary-color);
	--hover-dark-color: var(--secondary-color);

	--light-gradient-color: linear-gradient(216.56deg, #e250e5 5.32%, #4b50e6 94.32%);
    
	--light-bg-gradient-color: linear-gradient(45deg, #6450e6, #8b24a0);
	--light-bg-gradient-color-: radial-gradient(
		circle at 10% 11%,
		#3d2abe 0%,
		#1e1735 22%,
		#8b24a0 100%
	);
	--dark-bg-gradient-color: radial-gradient(
		circle at 32% 51%,
		#14141f 0%,
		#1e1735 22%,
		#0e0822 100%
	);
	--dark-bg-gradient-color-: radial-gradient(
		circle at 10% 11%,
		#1b0120 1%,
		#1e1735 22%,
		#1e1735 100%
	);

	--transparent-light-color: rgba(255, 255, 255, 0.05);
	--transparent-dark-color: rgba(0, 0, 0, 0.75);

	--font-family: 'Poppins', 'faduotone', 'fabrand', sans-serif;
	--font-size-xxsm: 1.2rem;
	--font-size-xsm: 1.4rem;
	--font-size-sm: 1.6rem;
	--font-size-md: 2.4rem;
	--font-size-lg: 3rem;
	--font-size-xl: 4rem;
	--font-weight-low: 400;
	--font-weight-mid: 600;
	--font-weight-bold: 800;
	--gap: 2rem;
	--margin-sm: 2rem;
	--margin-md: 3rem;
	--item-min-height-sm: 20rem;
	--item-min-height-md: 30rem;
}
* {
	padding: 0;
	margin: 0;

	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: var(--font-family);
	font-size: var(--font-size-sm);
	color: var(--light-color);
	background: var(--dark-bg-gradient-color-);

	letter-spacing: 1px;
	transition: background-color 0.25s color 0.25s;
}

button,
span,
div,
input {
	font: inherit;
	color: inherit;
	border: none;
	background-color: transparent;
	outline: none;
}
button {
	cursor: pointer;
}
a {
	font-size: var(--font-size-xsm);
	text-decoration: none;
	text-underline-offset: 0.3rem;
	color: var(--light-color);
	font-weight: var(--font-weight-bold);


}

a:hover {
	text-decoration: underline solid 2px var(--secondary-color);
	
}
ul {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
}

i {
	font-size: var(--font-size-md);
}
body.light-theme {
	

	
		/* #1b0120 1%,
		#1e1735 22%,
		#1e1735 100% */
	--dark-bg-gradient-color-: linear-gradient(circle at 10% 11%, #c7c3c3 1%,#5a6981ff 22%,#fff 95%);
	--dark-bg-gradirnt-color-:#green;
	--dark-color1: #fff;
	--dark-color-: #fff;
	--dark-color--: #afb6cd;
	--dark-color---: #5a6981ff;
	--dark-color----: #565b63;

	--light-color: #101010;
	--light-color-: #343441ff;
	--light-color--: #1b1b2b;
	--light-color---: #10101d;
}

.ri-lg {
	font-size: 1.3333em;
	line-height: 0.75em;
	vertical-align: -0.30667em;
}

/* Reusable Classes */
.container {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 10rem;
}

.btn {
	font-family: inherit;
	background-color: transparent;
	outline: 0;
	box-shadow: none;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.btn-primary {
	color: var(--light-color);
	padding: 0.8rem 2.5rem;
	border: 0.15rem solid var(--secondary-color);
	border-radius: 100px/100px;
	margin: 1rem;
}
.btn-primary:hover {
	background-color: var(--light-color);
	color: var(--dark-color);
	transform: scale(1.13);
	-webkit-transform: scale(1.13);
	border: none;
	/* animation: flip-scale-down-hor 1s ease-in-out 0s 1 normal none; */
	/* animation: ani-float 3s ease-in-out 0s 1 infinite; */
	/* animation: scale-up-center 1s ease 0s 1 normal none; */
	/* animation: 2s pulsate normal; */
	/* animation: bounce-in 1s ease-in-out 0s 1 normal; */
}
.btn-primary:hover i {
	color: var(--secondary-color);
}
.btn-fat {
	padding: 1.2rem 2.5rem;
}

.row-list {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	gap: var(--gap);
}
.column {
	flex-direction: column;
}
.space-between {
	justify-content: space-between;
}
.pdr1 {
	padding-right: 1rem;
}

d-grid {
	display: grid;
}
.section {
	padding-block: 5rem;
}
.place_items_center {
	display: inline-flex;
	justify-content: baseline;
	align-content: center;
}
.screen_sm_hidden {
	display: none;
}
.divider {
	flex-direction: row;
	justify-content: space-between;
	color: var(--light-color);
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-lg);
	padding: 3rem 0;
}
.title {
	padding: 1rem 0rem;
	display: block;
	color: var(--light-color);
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-lg);
}

.text-grad {

	
	background: #e250e5;
	background: -webkit-repeating-linear-gradient(to right, #e250e5 0%, #4b50e6 100%);
	background: -moz-repeating-linear-gradient(to right, #e250e5 0%, #4b50e6 100%);
	background: repeating-linear-gradient(to right, #e250e5 0%, #4b50e6 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.slide-dot{
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border: 1px solid var(--light-color--);
	border-radius: 50%;
	margin: .5rem;
	
}
.slide-dot--fill{
	border: 3px solid var(--light-color--);
}
.slide{
	padding: 2rem;
	text-align: center;
}

.s1 {

    color: #14141f;
    background: linear-gradient(-45deg, #E250E5, #4B50E6, #E250E5, #4B50E6);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-stroke: 3px transparent;
}