@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300;400;600;700;800&display=swap');

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./../font/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('./../font/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('./../font/Gilroy-Regular.woff2') format('woff2'),
        url('./../font/Gilroy-Regular.woff') format('woff'),
        url('./../font/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
font-face {
    font-family: 'Gilroy-Extrabold';
    src: url('./../font/Gilroy-Extrabold.eot');
    src: local('Gilroy Extrabold'), local('Gilroy-Black'),
        url('./../font/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('./../font/Gilroy-Extrabold.woff2') format('woff2'),
        url('./../font/Gilroy-Extrabold.woff') format('woff'),
        url('./../font/Gilroy-Extrabold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


:root {
	/* CSS HEX */
	--light-color: #fff;
	--light-color-: #afafbf;
	--light-color--: #afb6cd;
	--light-color---: #5a6981ff;
	--light-color----: #565b63;

	--dark-color: #343441ff;
	--dark-color-: #1b1b2b;
	--dark-color--: #10101d;

	--primary-color: #a977c6ff;
	--primary-color-: #a448cd;
	--primary-color--: #8419a5;
	--primary-color---: #350b41;
	--primary-color----: #221738;

	--secondary-color: #5142fc;
	--secondary-color-: #262165;
	--secondary-color--: #1f1736;

	--light-color: #fff;
	--light-color-: #e1e1e1;
	--light-color--: #f8f8f8;

	--dark-color: #7a798a;
	--dark-color-: #343441ff;
	--dark-color--: #1f1f2c;
	--dark-color---: #14141f;

	--sefia-color: #d3bb9cff;
	--sefia-color-: #9d8062ff;
	--sepia-color--: #7b4e1dff;

	--hover-light-color: var(--secondary-color);
	--hover-dark-color: var(--secondary-color);

	--light-gradient-color: linear-gradient(216.56deg, #e250e5 5.32%, #4b50e6 94.32%);

	--light-bg-gradient-color: linear-gradient(45deg, #6450e6, #8b24a0);
	--light-bg-gradient-color-: radial-gradient(
		circle at 10% 11%,
		#3d2abe 0%,
		#1e1735 22%,
		#8b24a0 100%
	);
	--dark-bg-gradient-color: radial-gradient(
		circle at 32% 51%,
		#14141f 0%,
		#1e1735 22%,
		#0e0822 100%
	);
	--dark-bg-gradient-color-: radial-gradient(
		circle at 10% 11%,
		#1b0120 1%,
		#1e1735 22%,
		#1e1735 100%
	);
	--dark-bg-gradient-color-: linear-gradient(
		to right top,
		#3d2abe,
		#3827a3,
		#322488,
		#2d216e,
		#271d55,
		#221a48,
		#1e173c,
		#191430,
		#16122c,
		#130f29,
		#110c25,
		#0e0822
	);

	--transparent-light-color: rgba(255, 255, 255, 0.05);
	--transparent-dark-color: rgba(0, 0, 0, 0.75);

	--font-family: 'Gilroy','Montserrat', 'Poppins', sans-serif;
	--font-size-xxsm: 1.3rem;
	--font-size-xsm: 1.4rem;
	--font-size-sm: 1.6rem;
	--font-size-md: 2.4rem;
	--font-size-lg: 3rem;
	--font-size-xl: 4rem;
	--font-weight-low: 400;
	--font-weight-mid: 600;
	--font-weight-bold: 800;
	--gap: 2rem;
	--margin-sm: 2rem;
	--margin-md: 3rem;
	--item-min-height-sm: 20rem;
	--item-min-height-md: 30rem;
}
* {
	padding: 0;
	margin: 0;

	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: var(--font-family);
	font-size: var(--font-size-sm);
	color: var(--light-color);
	background: var(--dark-bg-gradient-color-);

	letter-spacing: 1px;
	transition: background-color 0.25s color 0.25s;
}

button,
span,
div,
input {
	font: inherit;
	color: inherit;
	border: none;
	background-color: transparent;
	outline: none;
}
button {
	cursor: pointer;
}
a {
	font-size: var(--font-size-xsm);
	text-decoration: none;
	text-underline-offset: .5rem;
	color: var(--light-color);
	font-weight: var(--font-weight-bold);
}

a:hover {
	text-decoration: underline solid 2px var(--secondary-color);
	transition: all .3 ease-in-out;
}
ul {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
}

i {
	font-size: var(--font-size-md);
}
body.light-theme {
	--dark-bg-gradient-color-: linear-gradient(
		to right top,
		#98979b,
		#9e9ca3,
		#a4a2aa,
		#aaa7b2,
		#b0adba,
		#b7b4c1,
		#bebcc8,
		#c5c3cf,
		#cfced7,
		#d9d8de,
		#e4e3e6,
		#eeeeee
	);

	--dark-color1: #fff;
	--dark-color-: rgb(235, 233, 233);
	--dark-color--: #afb6cd;
	--dark-color---: #5a6981ff;
	--dark-color----: #565b63;

	--light-color: #101010;
	--light-color-: #343441ff;
	--light-color--: #1b1b2b;
	--light-color---: #10101d;
}

.ri-lg {
	font-size: 1.3333em;
	line-height: 0.75em;
	vertical-align: -0.30667em;
}

/* Reusable Classes */
.container {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 10rem;
}

.btn {
	font-family: inherit;
	background-color: transparent;
	outline: 0;
	box-shadow: none;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	color: var(--light-color);
	border-radius: 100px/100px;
}
.btn-primary {
	padding: 0.8rem 2.5rem;
	border: 0.15rem solid var(--secondary-color);

	margin: 1rem;
}
.btn-primary:hover {
	background-color: var(--light-color);
	color: var(--dark-color);
	transform: scale(1.13);
	-webkit-transform: scale(1.13);
	border: none;
	/* animation: flip-scale-down-hor 1s ease-in-out 0s 1 normal none; */
	/* animation: ani-float 3s ease-in-out 0s 1 infinite; */
	/* animation: scale-up-center 1s ease 0s 1 normal none; */
	/* animation: 2s pulsate normal; */
	/* animation: bounce-in 1s ease-in-out 0s 1 normal; */
}
.btn-primary:hover i {
	color: var(--secondary-color);
}
.btn-fat {
	padding: 1.2rem 2.5rem;
}

.row-list {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	gap: var(--gap);
}
.column {
	flex-direction: column;
}
.space-between {
	justify-content: space-between;
}
.pdr1 {
	padding-right: 1rem;
}

d-grid {
	display: grid;
}
.section {
	padding-block: 5rem;
}
.place_items_center {
	display: inline-flex;
	justify-content: baseline;
	align-content: center;
}
.screen_sm_hidden {
	display: none;
}
.divider {
	flex-direction: row;
	justify-content: space-between;
	color: var(--light-color);
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-lg);
	padding: 3rem 0;
}
.title {
	padding: 1rem 0rem;
	display: block;
	color: var(--light-color);
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-lg);
}

.text-grad {
	background: #e250e5;
	background: -webkit-repeating-linear-gradient(to right, #e250e5 0%, #4b50e6 100%);
	background: -moz-repeating-linear-gradient(to right, #e250e5 0%, #4b50e6 100%);
	background: repeating-linear-gradient(to right, #e250e5 0%, #4b50e6 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.text-grad a {
	text-decoration: none;
}
.slide-dot {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border: 1px solid var(--light-color--);
	border-radius: 50%;
	margin: 0.5rem;
}
.slide-dot--fill {
	border: 3px solid var(--light-color--);
}
.slider {
	padding: 4rem 2rem;
	text-align: center;
}

.s1 {
	color: #14141f;
	background: linear-gradient(-45deg, #e250e5, #4b50e6, #e250e5, #4b50e6);
	background-size: 100% 100%;
	-webkit-background-clip: text;
	-webkit-text-stroke: 3px transparent;
}


 