.today__btnlist {
	justify-content: space-between;
	padding: 2rem 0;
}
.today__btn {

	padding: 0.5rem 1rem;
	color: var(--dark-color);
	font-size: var(--font-size-xxsm); 
}
.today__btn:hover {
	
	background-color: transparent;
}
.today__btn:hover i{
color: var(--light-color);
}
.todaybid__btn {
	padding: 1rem 1.5rem;
	
	margin: 0;
	
}

.today__btn i {
	padding: 0rem 0rem;
	color: var(--dark-color);
}

.today__footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0 0 0;
	font-size: var(--font-size-xxsm);
	font-size:x-small;
}
